body {
  background-color: #1a1a1a;
  color: #e0e0e0;
}

.site-header, .site-footer {
  background-color: #101010;
}

a {
  color: #80c0ff;
}

a:visited {
  color: #b3a0ff;
}

pre, code {
  background-color: #2d2d2d;
  color: #c7c7c7;
}
